section.comments {
  margin-top: 6em;
  margin-bottom: 6em;

  h2 {
    color: $gray-light;
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5em;
    text-transform: uppercase;
  }

  .media {
    margin-top: 3em;
  }
}
