<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 left">
        <img width="40" class="img-responsive pull-left" src="img/coins.png" alt="logo">
        <a href="#">Archive</a>
        <a href="#">About Us</a>
      </div>

      <div class="col-sm-6 right">
        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>

        <a href="#">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="copy">&copy; Finimize 2017 <a href="#">Terms &amp; Conditions</a></div>
  </div>
</footer>
